html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#start-button:hover, #stop-button:hover
{
    
    transform: scale(1.1);
  
}
/*#middle-container
{
  margin: 0;
  padding:0;
  background-color: '#9B0000'
}*/
/*#left-container
{
  width: 100px;
  float:left;
  padding: 0px;
  margin: 0px;
  background-color: '#9B0000'
}
#right-container
{
  width: 100px;
   float : right;
  padding: 0px;
  margin: 0px;
  background-color: '#9B0000'
}*/
